@page "/Login"

<h3>Введите логин и пароль</h3>



<button @onclick="ButtonClick">Подтвердить</button>
@code {
    private void ButtonClick()
    {
        // Код, который выполнится при нажатии на кнопку
        Console.WriteLine("Кнопка была нажата!");
    }
}